* {
    margin: 0;
    padding: 0;
}

#red {
    background-image: url(strawberrybg.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
}